<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          <p class="text-center">Taking life one existential crisis at a time.</p>

          <p class="text-center">I take photos of <a href="/concert-photography" aria-label="View Tim's concert photography">concerts</a> sometimes.</p>
          
          <!-- {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %} -->

          <div class="hero-buttons">
            {% if site.instagram_username != '' %}
              <a href="https://instagram.com/{{ site.instagram_username }}" aria-label="View Tim's Instagram"><i class="bi bi-instagram hero-social-icons"></i></a>
            {% endif %}
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="View Tim's Twitter"><i class="bi bi-twitter hero-social-icons"></i></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}" aria-label="View Tim's Github"><i class="bi bi-github hero-social-icons"></i></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}" aria-label="View Tim's LinkedIn"><i class="bi bi-linkedin hero-social-icons"></i></a>
            {% endif %}
            {% if site.medium_username != '' %}
              <a href="https://{{ site.medium_username }}"><i class="bi bi-medium hero-social-icons"></i></a>
            {% endif %}

          </div>

        </div>

      </div>

      <!-- <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a> -->

    </div>

  </div>

</div>
